<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD </title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    .btn-edit {
        outline: none;
        background-color: rgb(0, 255, 115);
        height: 25px;
        width: 60px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 2px;
        padding: 2px;
        margin-bottom: 4px;
    }

    .btn-delete {
        outline: none;
        background-color: rgb(255, 55, 0);
        height: 25px;
        width: 60px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 2px;
        padding: 2px;
        margin-bottom: 2px;
    }
</style>

<body>
    <table style="width: 100%;">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>

        <% for(let i=0; i < dataTable.length; i++) { %>
            <tr>
                <td>
                    <%= dataTable[i].email %>
                </td>
                <td>
                    <%= dataTable[i].firstName %>
                </td>
                <td>
                    <%= dataTable[i].lastName %>
                </td>
                <td>
                    <%= dataTable[i].address %>
                </td>
                <td>
                    <a href="/edit-crud?id=<%= dataTable[i].id %>" type="button" class="btn-edit">Edit</a>
                    <a href="/delete-crud?id=<%= dataTable[i].id %>" type="button" class="btn-delete">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>

</body>

</html>