<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhucNT</title>
</head>

<body>

    <h1>Hello PhucNT from View nha</h1>
    <h3>
        <%= data %>
    </h3>

</body>

</html>